/*-----------------------
---- Header | Footer ----
-----------------------*/
.header {
    a {
        text-decoration: none;
    }
}

.footer {
    color: $branco;
    text-shadow: 0px 2px 0px rgba(31, 116, 191, 1);

    a {
        color: $branco;
    }

    p {
        margin: 0;
    }
}

.header, .footer {
    padding: 15px;
    background: $azul;
    text-align: center;
}

/*-------------------
---- Título Site ----
-------------------*/
.title {
    clear: both;
    padding: 20px 0;
    
    a {
        color: $branco;
        text-shadow: 0px 5px 0px rgba(31, 116, 191, 1);
    }

    h1 a {
        font-size: 32pt;
        line-height: 42pt;
        text-transform: uppercase;
    }

    h2 a {
        font-size: 24pt;
        line-height: 34pt;
    }
}

/*------------
---- Menu ----
------------*/
.bt-menu {
    display: none;
    float: left;
}

.menu {
    li {
        float: left;
        margin: 0 15px 0 0;
        list-style: none;

        &:last-child {
            margin-right: none;
        }
    }

    a {
        font-size: 16pt;
        color: $branco;

        &:hover {
            text-decoration: underline;
        }
    }
}

/*----------------
---- Pesquisa ----
----------------*/
.bt-search {
    float: right;
}

#search-container {
    display: none;
    top: 0;
    left: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);

    input[type=text]{
        width: 400px;
        height: 30px;
        margin: 10px auto;
        background: transparent;
        border: 0;
        border-bottom: 1px solid $branco;
        outline: 0;
        text-align: center;
        font-size: 16pt;
        color: $branco;
    }

    ::-webkit-input-placeholder{
        color: $branco;
    }

    :-ms-input-placeholder {
        color: $branco;
    }

    ::-ms-input-placeholder {
        color: $branco;
    }

    ::-moz-placeholder {
        color: $branco;
    }

    a {
        display: block;
        margin: 10px;
        color: $branco;

        &:hover {
            color: $azul;
            text-decoration: underline;
        }
    }
}  

/*------------------
---- Ícones SVG ----
------------------*/
.icon-top {
    width: 25px;
    height: 25px;
    fill: $branco;
    cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block;
  fill: $azul;
}

/*---------------------
---- Página | Post ----
---------------------*/
.home {
    text-align: center;
}

.page-content {
    display: block;
    padding: 35px 30px;
}

.post-content {
    h2, h3, h4, h5, h6 {
        margin: 20px 0;
    }
}

.post-list {
    list-style: none;
}

.page-title,
.post-title {
  border-bottom: 1px solid $preto;
  padding: 5px 0;
}

.post-meta {
  font-size: 10pt;
  line-height: 16pt;
}

.post-link {
  text-decoration: none;
  font-size: 24pt;
  line-height: 28pt;
}

.tags {
  margin-top: 1em;

  a {
    border-right: 1px solid $azul;
    padding: 0 5px;

    &:last-child {
        border-right: none;
    }
  }
}

/*-------------
---- Autor ----
-------------*/
.img-author {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 20px;
  border-radius: 100%;
  border: 3px solid $azul;
}

.author {
  background: darken($branco, 5%);
  padding: 15px;
  @extend %margins;

  .details {
    @extend %margins;
  }

  .name a {
    font-size: 18pt;
    text-decoration: none;
  }
}

/*------------------------------------------------
---- Botões de Compartilhamento | Comentários ----
------------------------------------------------*/
.share, .comments {
  text-align: center;
  border-top: 1px solid $preto;
  padding: 10px;
}

.share {
  a {
    text-decoration: none;
  }

  .icon {
    margin-top: 10px;
    
    &:hover {
      fill: darken($azul, 15%);
    }
  }
}