---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*-------------------------
---- Fontes importadas ----
-------------------------*/
// Open Sans
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700); 

/*-----------------
---- Variáveis ----
-----------------*/
// Fontes
$fonte-padrao: 'Open Sans', Arial, sans-serif;

// Cores
$azul: #3498db;
$azul-escuro: #1f74bf;
$branco: #fff;
$preto: #3c3c3c;

// Breakpoints
$bp-celular: 600px;
$bp-tablet: 800px;


/*--------------------
---- Placeholders ----
--------------------*/
%margins {
    margin: 1em 0;
}

/*--------------
---- Mixins ----
--------------*/
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/*--------------------------------
---- Arquivos SASS importados ----
--------------------------------*/
@import
        "base",
        "layout",
        "syntax-highlighting",
        "responsive"
;