---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <!-- Chamamos o título do post -->
  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  <!-- Incluimos a data e o autor do post -->
  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b, %Y" }}</time>{% if page.author %} | <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  
  <!-- Icluimos o conteúdo do post -->
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- Incluimos os botões de compartilhamento -->
  {% include share.html %}

  <!-- Incluimos a seção com o autor do post -->
  {% include author.html %}

  <!-- Incluimos os comentários -->
  {% include comments.html %}

</article>
